* {
    font-family: Lexend, "JetBrainsMono NFP", FontAwesome6Free, SymbolsNerdFont;
    min-height: 0;
    min-width: 0;
    font-size: 14px;
    font-weight: 600;
}

window#waybar {
    background-color: #@base00@;
    border-bottom: 2px solid #@base0D@;
}

#workspaces button {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    background-color: #@base01@;
    border: 1px solid #@base03@;
    border-radius: 6px;
    color: #@base03@;

    transition-property: color;
    transition-duration: 0.0s;
}

#workspaces button:hover {
    /* Remove default all hover effects */
    /* https://github.com/Alexays/Waybar/issues/60 */
    padding: 0.3rem 0.6rem;
    box-shadow: none;
    text-shadow: none;
    background-color: #@base01@;
    border-bottom: 1px solid #@base03@;
    border: 1px solid #@base03@;
    background: #@base01@;
    transition: none;
}

#workspaces button.active {
    color: #@base05@;

    transition-property: color;
    transition-duration: 0.0s;
}

#workspaces button.urgent {
    color: #@base09@;

    transition-property: color;
    transition-duration: 0.0s;
}

#custom-nixos-icon,
#cpu,
#memory,
#disk,
#network,
#bluetooth,
#wireplumber,
#clock {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    background-color: #@base01@;
    border: 1px solid #@base03@;
    border-radius: 6px;
    color: #@base05@;
    transition-property: color;
    transition-duration: 0.5s;
}

window#waybar.empty #waybar-mpris {
    background-color: transparent;
}

#network.disabled,
#network.disconnected,
#bluetooth.disabled,
#bluetooth.off,
#wireplumber.muted {
    color: #@base03@;
}

#custom-nixos-icon {
    color: #@base0B@;
}

#waybar-mpris {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border: 1px;
    color: #@base05@;
    background-color: transparent;
}

#cpu {
    color: #@base08@;
}

#memory {
    color: #@base09@;
}

#disk {
    color: #@base0A@;
}

#network {
    color: #@base0B@;
}

#bluetooth {
    color: #@base0C@;
}

#wireplumber {
    color: #@base0E@;
}

#clock {
    color: #@base05@;
}
