window {
    margin: 0px;
    border: 1px solid #434380;
    background-color: #14142c;
}

#input {
    margin: 5px;
    color: #d8dee9;
    background-color: #111127;
    border: 1px solid #111127;
/* Removes blue outline when text box is focused */
    box-shadow: none;
}

#input:focus {
    border: 1px solid #434380;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #14142c;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #14142c;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #44447e;
}

#entry:selected {
    background-color: #252549;
}

#entry:selected #text {
    color: #9e9edf;
}
